html{
    font-size: 16px;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    width: 40vw;
    height: 40vw;
    /*REMEMBER ABOVE!! CAN MAKE SQUARE EASILY. 
    THE HEIGHT CAN BE VW TOO*/
    border: 2px solid black;
    border-radius: 5%;;
}

.top{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
}

.inputField{
    width: 80%;
    height:70%;
    border: 2px solid black;
    font-size: 2rem;
    display:flex;
    justify-content: right;
    align-items: flex-end;
}

.middle{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80%;
    text-align: right;
    background-color: grey;
    border-bottom-left-radius: 6%;
    border-bottom-right-radius: 6%;
}

.numbers{
    width:65%;
    height: 100%;
    display: grid;
    grid-template-columns: 33% 33% 34%;
    grid-template-rows: auto;
}

.btn{
    border-radius: 5px;
}

.operators{
    margin-top: 5%;
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 2.5%;
}

.operators button{
    height: 23%;
    width: 100%;
    box-sizing: border-box;
}
