html{
    font-size: 16px;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    width: 40vw;
    height: 40vw;
    /*REMEMBER ABOVE!! CAN MAKE SQUARE EASILY. 
    THE HEIGHT CAN BE VW TOO*/
    border: 2px solid black;

}

.top{
    width: 100%;
    height: 20%;
    border: 2px solid black;
    display: flex;
    justify-content: right;
    align-items: center;
}

.inputField{
    width: 80%;
    height: 80%;
    border: 2px solid black;
}

.middle{
    display: flex;
    height: 79%;
    gap: 0;

}

.numbers{
    width:65%;
    height: 100%;
    display: grid;
    grid-template-columns: 33% 33% 34%;
    grid-template-rows: auto;
}

.equals{
    grid-column: 2/span 2;
}

.operators{
    width: 35%;
    height 100%;
    display: grid;
    grid-template-columns: 100%;

}
