html{
    font-size: 16px;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    width: 40vw;
    height: 40vw;
    /*REMEMBER ABOVE!! CAN MAKE SQUARE EASILY. 
    THE HEIGHT CAN BE VW TOO*/
    border: 2px solid black;
    border-radius: 5%;
    padding-bottom: 1.5%;
    background-color: rgb(44, 44, 43);

}

.top{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(44, 44, 43);
    border-radius: 50%;
}

.inputField{
    width: 80%;
    height:70%;
    border: 2px solid black;
    font-size: 4rem;
    display:flex;
    justify-content: right;
    align-items: flex-end;
    background-color: rgb(110, 247, 110);
}

.middle{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80%;
    text-align: right;
    background-color: grey;
    border-bottom-left-radius: 6%;
    border-bottom-right-radius: 6%;
    padding: 2% 0;
}

.numbers{
    width:65%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    box-sizing: border-box;
    gap: 1%;
}

.numbers button{
    height:100%;
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(61, 60, 60);
    color: white;

}

.btn{
    border-radius: 20%;
}

.operators{
    margin-top: 5%;
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 1%;
}

.operators button{
    height: 18%;
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(228, 238, 236);
}
